<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet"> <!-- Include the external CSS file -->
</head>
<body>

<div class="register-container">
    <h2>Inregistrare utilizator nou</h2>

    <form th:action="@{/users/register}" method="post">
        <div class="form-group">
            <label for="name">Nume:</label>
            <input type="text" id="name" name="name" placeholder="Introduceți numele" required/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Introduceți emailul" required/>
        </div>
        <div class="form-group">
            <label for="username">Nume utilizator:</label>
            <input type="text" id="username" name="username" placeholder="Introduceți numele de utilizator" required/>
        </div>
        <div class="form-group">
            <label for="password">Parola:</label>
            <input type="password" id="password" name="password" placeholder="Introduceți parola" required/>
        </div>
        <div>
            <button type="submit" class="register-btn">Inregistreaza-te</button>
        </div>
    </form>

    <a href="/login" class="login-link">Already have an account? Login here</a>
</div>

</body>
</html>
